<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="SPRING-ROLLING-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>system/logs/spring.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>system/logs/spring.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%-4relative %d{HH:mm:ss} [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ERROR-ROLLING-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>system/logs/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>system/logs/error.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%-4relative %d{HH:mm:ss} [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="BONSAI-ROLLING-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>system/logs/bonsai.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>system/logs/bonsai.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%-4relative %d{HH:mm:ss} [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="SCRIPT-ROLLING-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>system/logs/script-error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>system/logs/script-error.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%-4relative %d{HH:mm:ss} [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="ERROR" additivity="false">
        <appender-ref ref="SPRING-ROLLING-FILE" />
    </logger>

    <logger name="com.company.bonsai" level="DEBUG" additivity="false">
        <appender-ref ref="BONSAI-ROLLING-FILE" />
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="com.company.bonsai.task.ScriptEngineTask" level="ERROR" additivity="false">
        <appender-ref ref="SCRIPT-ROLLING-FILE" />
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="ERROR">
        <appender-ref ref="ERROR-ROLLING-FILE" />
        <appender-ref ref="STDOUT" />
    </root>

</configuration>